# ZITADEL Identity Provider Configuration
ZITADEL_ISSUER="https://sso-dev.agforce.co.id"
ZITADEL_CLIENT_ID="390676713547302915"
ZITADEL_CLIENT_SECRET=""

# Personal Access Token (Service Account) untuk User Management API (ZITADEL V2)
# Diambil dari ZITADEL Console -> Users -> Service Users -> Keys -> New Personal Access Token
ZITADEL_PAT=""

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="agforce-sso-portal-secret-key-super-secure-2026"
